*{
    box-sizing: border-box;
    margin: 0;
}
body{
    background-color: #e5e5e5;
}

/*HEADER*/

header{
    width: 100%;
    background-color: #2A2D34;
    font-family: 'Josefin Sans', sans-serif;
    padding: 30px;
    position: fixed;
    z-index: 10;
    top: 0;
}

header h1{
    font-size: 100px;
    text-transform: uppercase;
    color: #ffffff;
    text-shadow: 2px 2px 0 #30C5FF;
    text-align: center;
}

header h2{
    font-family: 'Catamaran', sans-serif;
    font-size: 29px;
    color: #ffffff;
    text-align: center;
}


/*LUGARES*/

.secao-lugares{
    margin-top: 208px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*justify-content: center;*/
}

.islandia{
    width: 900px;
    height: 250px;
    background-image: url("../img/islandia.jpg");
    background-position: 0px -365px;
    position: relative;
    /*background-color: #30C5FF;*/
}

.islandia h3{
    color: #ffffff;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 100px;
    text-shadow: 2px 2px 0 #2A2D34;
    margin: 30px;
}

.islandia p{
    font-family: 'Catamaran', sans-serif;
    font-size: 29px;
    color: #ffffff;
    text-shadow: 2px 2px 0 #2A2D34;
    text-align: center;
    line-height: 30px;
    text-align: left;
    margin-left: 46%;
    position: absolute;
    top: 60px;
}

.siberia{
    width: 900px;
    height: 250px;
    background-image: url("../img/siberia.jpg");
    background-position: -290px 400px;
    position: relative;
    /*background-color: #30C5FF;*/
}

.siberia h3{
    color: #ffffff;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 100px;
    text-shadow: 2px 2px 0 #2A2D34;
    margin: 30px;
}

.siberia p{
    font-family: 'Catamaran', sans-serif;
    font-size: 29px;
    color: #ffffff;
    text-shadow: 2px 2px 0 #2A2D34;
    text-align: center;
    line-height: 30px;
    text-align: left;
    margin-left: 46%;
    position: absolute;
    top: 60px;
}

.alasca{
    width: 900px;
    height: 250px;
    background-image: url("../img/alaska.jpg");
    background-position: -580px -590px;
    position: relative;
    /*background-color: #000000;*/
}

.alasca h3{
    color: #ffffff;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 100px;
    text-shadow: 2px 2px 0 #2A2D34;
    margin: 30px;
}

.alasca p{
    font-family: 'Catamaran', sans-serif;
    font-size: 29px;
    color: #ffffff;
    text-shadow: 2px 2px 0 #2A2D34;
    text-align: center;
    line-height: 30px;
    text-align: left;
    margin-left: 46%;
    position: absolute;
    top: 60px;
}


/*FORMULARIO*/

.form{
    margin: 20px 0 20px 0;
    padding: 30px 0 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;    
}

.form h2{
    font-family: 'Catamaran', sans-serif;
    font-size: 50px;
    color: #2A2D34;
    text-align: center;
}

.formulario{
    font-family: 'Catamaran', sans-serif;
    width: 50%;
    font-size: 20px;
    
}

.form-nome{
    display: flex;
    margin: 10px;
}

.form-nome input[type="text"]{
    width: 100%;
    height: 30px;
}

.form-nome label{
    text-align: left;
    margin-right: 30px;
    width: 70px;
}

.form-email{
    display: flex;  
    margin: 10px;
}

.form-email label{ 
    text-align: left;
    margin-right: 30px;
    width: 70px;
}

.form-email input[type="email"]{
    width: 100%;
    height: 30px;
}

.form-destino label{ 
    text-align: left;
    margin-right: 30px;
    width: 70px;
}

.form-botao input[type='submit']{
    
    font-family: 'Catamaran', sans-serif;
    font-size: 15px;
    margin-top: 15px;
    background-color: #5C946E;
    border: 0;
    padding: 10px 50px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 5px;
}



@media screen and (max-width:768px){
}